<template>
<div class="alarms-page container">
	<topnav headertext="Alarms and Alarm Sets"></topnav>
	<div class="alarm-icon">
		<img src="../assets/alarm.png" alt="" width="10%"/>

	</div>

	<div class="double-warning-div">
		<h3>double warning levels</h3>
	</div>

	<table class="table">
          <thead>
          <tr>
            <th>H2</th>
            <th>CH4</th>
            <th>C2H6</th>
            <th>C2H4</th>
            <th>C2H2</th>
            <th>CO</th>
            <th>CO2</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>100</td>
            <td>100</td>
            <td>60</td>
            <td>100</td>
            <td>5</td>
            <td>250</td>
            <td>NA</td>
          </tr>


          </tbody>
        </table>
				<div class="double-warning-div">
					<h3>iec warning levels</h3>
				</div>

				<table class="table">
			          <thead>
			          <tr>
			            <th>H2</th>
			            <th>CH4</th>
			            <th>C2H6</th>
			            <th>C2H4</th>
			            <th>C2H2</th>
			            <th>CO</th>
			            <th>CO2</th>
			          </tr>
			          </thead>
			          <tbody>

			          <tr>
			            <td>150</td>
			            <td>110</td>
			            <td>90</td>
			            <td>280</td>
			            <td>50</td>
			            <td>900</td>
			            <td>13000</td>
			          </tr>



			          </tbody>
			        </table>
							<div class="double-warning-div">
								<h3>ieee warning levels</h3>
							</div>

							<table class="table">
						          <thead>
						          <tr>
						            <th>H2</th>
						            <th>CH4</th>
						            <th>C2H6</th>
						            <th>C2H4</th>
						            <th>C2H2</th>
						            <th>CO</th>
						            <th>CO2</th>
						          </tr>
						          </thead>
						          <tbody>
						          <tr>
						            <td>100</td>
						            <td>120</td>
						            <td>65</td>
						            <td>50</td>
						            <td>35</td>
						            <td>350</td>
						            <td>2500</td>
						          </tr>

						          </tbody>
						        </table>
										
</div>
</template>


<script>
import topnav from './topnav'
export default {
	name: 'Alarms',
	components: {
		topnav
	}
}
</script>



<style scoped>
/*variable declaration*/
/*$orange:#99494C;
$white:#FFFFFF;
$violet:50587C;*/
.double-warning-div{
	background-color: #50587C;
	padding: 2%;
}
h3{
	text-transform: uppercase;
	text-align: center;
	margin: 0;

}
.table{
	text-align: center;
}

th{
	border-bottom: 1px solid #99494C !important;
	text-align: center;
	padding-top: 2% !important;
}
.alarm-btn{
	display: flex;
	justify-content: center;
}
button{
	background-color: #06AAA9;
	border: 0;
	padding: 10px 35px;
	border-radius: 5px;
	margin: 5%;
}
.alarm-icon{
	display: flex;
	justify-content: center;
	margin:5%;
}



</style>
