<template>
	<div class="assets-page">
	<topnav headertext="Assets Page"></topnav>

	 <div class="transformer-section-div">
		 <div class="trafix-transformers-div">
  	 <div class="trafix-search-padding">
  		 <div class="transformer-saerch-icon">
  			 <i class="fa fa-search icon-search" aria-hidden="true"></i>
  			 <input type="text" name="name" value="" placeholder="Enter Assets No or Serial No">
  		 </div>
  	 </div>
  	 <div class="asset-serial-div">
  		 <div class="asset-no-col">
  			 <p class="left-p">assettr 10934</p>
  		 </div>
  		 <div class="serial-no-col">
  			 <p>serial 250067</p>
  			 <i class="fa fa-bars fa_bar" aria-hidden="true"></i>
  		 </div>
  	 </div>
  	 <div class="asset-serial-div">
  		 <div class="asset-no-col">
  			 <p>assettr 10934</p>
  		 </div>
  		 <div class="serial-no-col">
  			 <p>serial 250067</p>
  			 <i class="fa fa-bars fa_bar" aria-hidden="true"></i>
  		 </div>
  	 </div>
  	 <div class="asset-serial-div">
  		 <div class="asset-no-col">
  			 <p>assettr 10934</p>
  		 </div>
  		 <div class="serial-no-col">
  			 <p>serial 250067</p>
  			 <i class="fa fa-bars fa_bar" aria-hidden="true"></i>
  		 </div>
  	 </div>
  	 <div class="asset-serial-div">
  		 <div class="asset-no-col">
  			 <p>assettr 10934</p>
  		 </div>
  		 <div class="serial-no-col">
  			 <p>serial 250067</p>
  			 <i class="fa fa-bars fa_bar" aria-hidden="true"></i>
  		 </div>
  	 </div>
  	 <div class="asset-serial-div">
  		 <div class="asset-no-col">
  			 <p>assettr 10934</p>
  		 </div>
  		 <div class="serial-no-col">
  			 <p>serial 250067</p>
  			 <i class="fa fa-bars fa_bar" aria-hidden="true"></i>
  		 </div>
  	 </div>
  	 <div class="asset-serial-div">
  		 <div class="asset-no-col">
  			 <p>assettr 10934</p>
  		 </div>
  		 <div class="serial-no-col">
  			 <p>serial 250067</p>
  			 <i class="fa fa-bars fa_bar" aria-hidden="true"></i>
  		 </div>
  	 </div>
  	 <div class="asset-serial-div">
  		 <div class="asset-no-col">
  			 <p>assettr 10934</p>
  		 </div>
  		 <div class="serial-no-col">
  			 <p>serial 250067</p>
  			 <i class="fa fa-bars fa_bar" aria-hidden="true"></i>
  		 </div>
  	 </div>
  	 <div class="asset-serial-div">
  		 <div class="asset-no-col">
  			 <p>assettr 10934</p>
  		 </div>
  		 <div class="serial-no-col">
  			 <p>serial 250067</p>
  			 <i class="fa fa-bars fa_bar" aria-hidden="true"></i>
  		 </div>
  	 </div>
  	 <div class="asset-serial-div">
  		 <div class="asset-no-col">
  			 <p>assettr 10934</p>
  		 </div>
  		 <div class="serial-no-col">
  			 <p>serial 250067</p>
  			 <i class="fa fa-bars fa_bar" aria-hidden="true"></i>
  		 </div>
  	 </div>
  	 </div>
	 </div>
	</div>
</template>


<script>
	import topnav from './topnav'
	export default {
		components: {
			topnav
		}
	}
</script>
<style scoped>
.trafix-transformers-div{
  padding-bottom: 10%;
}
.trafix-search-padding{
	margin-bottom: 2%;
	margin-top: 1%;
	padding: 2%;
}
.transformer-saerch-icon{
	width: 80%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	border-bottom: 1px solid #EC6B56;
	padding-bottom:5px;
}
.icon-search{
	color: #EC6B56;
	font-size: 35px;
}
input{
	border: 0;
	background-color: transparent;
	width: 80%;
	margin-left: 5px;
}
::-webkit-input-placeholder{
	font-size: 12px;
}
.asset-serial-div{
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
	margin-bottom: 2%;
	border-bottom: 1px solid #EC6B56;


}
p{
	text-transform: uppercase;
	margin: 0;
	padding: 3% 0;
	padding-right: 3%;
	padding-left: 3%;

}
.asset-no-col{
	border-right: 1px solid #FFFFFF;
	flex-grow: 1;
	text-align: center;
}
.serial-no-col{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-grow: 2;
	margin: auto;
}
.fa_bar{
	color: #EC6B56;
}
.transformer-section-div{
	max-width: 500px;
	margin: auto;
}


</style>
