<template>
	<div class="dashboard container">
		<div class="nav-links">
			<a href="#">Help</a>
			<router-link to="/logout">Logout</router-link>
		</div>
		<img src="../assets/trafixtext.png" alt="trafixtext" width="300">
		<h2>Transformer Oil Diagnostics software</h2>
		<div class="row">
			<div class="col-md-3 col-lg-3 col-xs-6">
				<router-link to="/profile">
					<div class="card">
						<img src="../assets/dashboardicons/1.png" alt="1" width="80">
						<h3>Profile</h3>
					</div>
				</router-link>
			</div>
			<div class="col-md-3 col-lg-3 col-xs-6">
				<div class="card">
					<img src="../assets/dashboardicons/2.png" alt="1" width="80">
					<h3>Dashboard</h3>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xs-6">
				<router-link to="/assets">
					<div class="card">
					<img src="../assets/dashboardicons/3.png" alt="1" width="80">
					<h3>Manage Assets</h3>
				</div>
				</router-link>
			</div>
			<div class="col-md-3 col-lg-3 col-xs-6">
				<router-link to="/dgacalculator">
					<div class="card">
					<img src="../assets/dashboardicons/4.png" alt="1" width="60">
					<h3>DGA Calculator</h3>
				</div>
				</router-link>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-lg-3 col-xs-6">
				<div class="card">
					<img src="../assets/dashboardicons/5.png" alt="1" width="80">
					<h3>Critical Assets</h3>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xs-6">
				<div class="card">
					<img src="../assets/dashboardicons/6.png" alt="1" width="80">
					<h3>Create Asset</h3>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xs-6">
				<div class="card">
					<img src="../assets/dashboardicons/7.png" alt="1" width="65">
					<h3>Create Substation</h3>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xs-6">
				<router-link to="/alarms">
					<div class="card" @click="gotoAlarms">
					<img src="../assets/dashboardicons/8.png" alt="1" width="80">
					<h3>Alarms</h3>
				</div>
				</router-link>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-lg-3 col-xs-6">
				<div class="card">
					<img src="../assets/dashboardicons/9.png" alt="1" width="80">
					<h3>Create Licenses</h3>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xs-6">
				<div class="card">
					<img src="../assets/dashboardicons/10.png" alt="1" width="80">
					<h3>Download Asset</h3>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xs-6">
				<div class="card">
					<img src="../assets/dashboardicons/11.png" alt="1" width="80">
					<h3>DGA Schedule</h3>
				</div>
			</div>
			<div class="col-md-3 col-lg-3 col-xs-6">
				<div class="card">
					<img src="../assets/dashboardicons/12.png" alt="1" width="80">
					<h3>Language</h3>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		methods: {
			gotoAlarms () {
				// console.log('Test')
				// router.push('alarms')
			}
		}
	}
</script>

<style>

	@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');

	h1, h2{
		text-align: center;
		font-family: 'Titillium Web', sans-serif;
		text-transform: uppercase;
		font-weight: 600
	}

	/*.grid-lines{
		position: absolute;
	}*/

	img{
		display: block;
		align-self: center;
	}

	h2{
		margin-bottom: 30px;
		font-size: 2.5em;
	}

	.nav-links{
		display: flex;
		justify-content: flex-end;
		margin-bottom: -40px;
		margin-top: -10px;
	}

	.nav-links a{
		display: block;
		padding:10px;
		margin-right: 5px;
		font-family: 'Titillium Web', sans-serif;
		text-transform: uppercase;
		font-size: 25px;
		font-weight: 600;
	}

	.nav-links a:hover{
		text-decoration: none;
		color: #7adccd;
	}

	h1{
		margin-bottom: -10px;
	}

	.dashboard{
		display: flex;
		flex-flow: column;
		justify-content: center;
		min-height: 100vh;
	}

	.row + .row {
		margin-top: 30px;
	}
	.card{
		border: 2px solid #7adccd;
		min-height: 150px;
		font-family: 'Titillium Web', sans-serif;
		text-transform: uppercase;
		display: flex;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		color: #7adccd;
		font-weight: 300;
		cursor: pointer;
	}

	.card:hover{
		background-color: #3a3b50;
	}

/*	.card h3{
		padding-top: -10px;
	}*/
	.card img{
		margin-top: 10px;
		margin-bottom: -10px;
	}

	a:hover{
		text-decoration: none;
	}

</style>
