<template>
<div class="dga-width">
<topnav headertext="DGA Calculator"></topnav>
	<div class="dga-template">
		
			<legend>Dga Calculator</legend>
			<form >

			<div class="columned">
				<section class="left">
				<div class="form-group">
				<label for="h2">Hydrogen (H2)</label>
				<input type="number" min="0" v-model="h2" id="h2">
			</div>

			<div class="form-group">
				<label for="ch4">Methane (CH4)</label>
				<input type="number" min="0" v-model="ch4" id="ch4">
			</div>

			<div class="form-group">
				<label for="c2h6">Ethane (C2H6)</label>
				<input type="number" min="0" v-model="c2h6" id="c2h6">
			</div>

			<div class="form-group">
				<label for="c2h4">Ethylene (C2H4)</label>
				<input type="number" min="0" v-model="c2h4" id="c2h4">
			</div>

			<div class="form-group">
				<label for="c2h2">Acetylene (C2H2)</label>
				<input type="number" min="0" v-model="c2h2" id="c2h2">
			</div>

			<div class="form-group">
				<label for="c3h8">Propane (C3H8)</label>
				<input type="number" min="0" v-model="c3h8" id="c3h8">
			</div>
			</section>

			<section class="right">
				<div class="form-group">
				<label for="c3h6">Propylene (C3H6)</label>
				<input type="number" min="0" v-model="c3h6" id="c3h6">
			</div>


			<div class="form-group">
				<label for="co">Carbon monoxide (CO)</label>
				<input type="number" min="0" v-model="co" id="co">
			</div>

			<div class="form-group">
				<label for="co2">Carbon dioxide (CO2)</label>
				<input type="number" min="0" v-model="co2" id="co2">
			</div>

			<div class="form-group">
				<label for="o2">Oxygen (O2)</label>
				<input type="number" min="0" v-model="o2" id="o2">
			</div>

			<div class="form-group">
				<label for="n2">Nitrogen (N2)</label>
				<input type="number" min="0" v-model="n2" id="n2">
			</div>
			</section>
			</div>

			<div class="reset-flex">
				<select v-model.sync="selected">
			      <option value="">--- Please choose ---</option>
				  <option value="all">All Interpretations</option>
				  <option value="Rogers">Rogers</option>
				  <option value="Doernenburg">Doernenburg</option>
				  <option value="BasicRatios">Basic Gas Ratios</option>
				  <option value="CO2CO">CO₂/ CO</option>
			      </select>

			      <button @click.prevent="resetFields">Reset</button>

			</div>
		</form>

		<div class="dga-results" v-if="show">
			<h2>TDCG of the gases : {{tdcg}}</h2>
			<div class="title-header" v-for="info in diagnosis">
				<!-- <h3>Ratios according to Rogers (IEEE C57.104)</h3> -->
				<h3 class="info-h3">{{info.heading}}</h3>
				<table class="table ">
					<tr v-for="ratio in info.ratios">
						<td>{{ratio.key}}</td>
						<td>{{ratio.value}}</td>
					</tr>
				</table>
				<div class="diagnosis-recommendation">
					<h3 class="trafix-h3">Diagnosis / Recommendation</h3>
					<p>{{info.diagnosis}}</p>
				</div>
				<hr>
			</div>
		</div>


	</div>

</div>
</template>


<script>
import topnav from './topnav'
	// import _ from 'lodash'
	function initialState () {
		return {
			h2: 0,
			ch4: 0,
			c2h6: 0,
			c2h4: 0,
			c2h2: 0,
			c3h8: 0,
			c3h6: 0,
			co: 0,
			co2: 0,
			o2: 0,
			n2: 0,
			selected: '',
			rogers_diagnosis: '',
			doernenburg_diagnosis: '',
			basicRatios_diagnosis: '',
			CO2CO_diagnosis: '',
			show: false,
			diagnosis: [],
			theta: 0.0001
		}
	}
	export default {
		name: 'dga',
		data () {
			return initialState()
		},
		components: {
			topnav
		},
		computed: {
			tdcg: function () {
				var tdgc = this.h2 + this.ch4 + this.c2h6 + this.c2h4 + this.c2h2 + this.co
				return Math.round(tdgc * 100) / 100
			},
			R1: function () {
				return Math.round((this.ch4 / this.h2) * 100) / 100
			},
			R2: function () {
				return Math.round((this.c2h2 / this.c2h4) * 100) / 100
			},
			R3: function () {
				return Math.round((this.c2h2 / this.ch4) * 100) / 100
			},
			R4: function () {
				return Math.round((this.c2h6 / this.c2h2) * 100) / 100
			},
			R5: function () {
				return Math.round((this.c2h4 / this.c2h6) * 100) / 100
			},
			co2co: function () {
				return Math.round((this.co2 / this.co) * 100) / 100
			},

			C2H2Percentage: function () {
				return Math.round(this.c2h2 / (this.c2h2 + this.c2h4 + this.ch4) * 100)
			},
			show_rogers: function () {
				let c2h2c2h4, ch4h2, c2h4c2h6
				if ((this.c2h4 > this.theta) && (this.h2 > this.theta) && (this.c2h6 > this.theta)) {
					c2h2c2h4 = this.R2
					ch4h2 = this.R1
					c2h4c2h6 = this.R5
				} else {
					c2h2c2h4 = '-'
					ch4h2 = '-'
					c2h4c2h6 = '-'
				}
				this.diagnosis = {
							info: {
								heading: 'Ratios according to Rogers (IEEE C57.104)',
								diagnosis: this.rogers_diagnosis,
								ratios: [
									{
										key: 'C2H2 / C2H4',
										value: c2h2c2h4
									},
									{
										key: 'CH4 / H2',
										value: ch4h2
									},
									{
										key: 'C2H4 / C2H6',
										value: c2h4c2h6
									}
								]
							}
						}
			},
			show_doernenburg: function () {
				let C2H2C2H4, CH4H2, C2H2CH4, C2H6C2H2
				if ((this.c2h4 > this.theta) && (this.h2 > this.theta) && (this.ch4 > this.theta) && (this.c2h2 > this.theta)) {
					C2H2C2H4 = this.R2
					CH4H2 = this.R1
					C2H2CH4 = this.R3
					C2H6C2H2 = this.R4
				} else {
					C2H2C2H4 = '-'
					CH4H2 = '-'
					C2H2CH4 = '-'
					C2H6C2H2 = '-'
				}
				this.diagnosis = {
					info: {
						heading: 'Ratios according to Doernenburg (IEEE C57.104)',
						diagnosis: this.doernenburg_diagnosis,
						ratios: [
							{
								key: 'C2H2 / C2H4',
								value: C2H2C2H4
							},
							{
								key: 'CH4 / H2',
								value: CH4H2
							},
							{
								key: 'C2H2 / CH4',
								value: C2H2CH4
							},
							{
								key: 'C2H6 / C2H2',
								value: C2H6C2H2
							}
						]
					}
				}
			},
			show_basicratios: function () {
				let C2H2C2H4, CH4H2, C2H4C2H6
				if ((this.c2h4 > this.theta) && (this.h2 > this.theta) && (this.c2h6 > this.theta)) {
					C2H2C2H4 = this.R2
					CH4H2 = this.R1
					C2H4C2H6 = this.R5
				} else {
					C2H2C2H4 = '-'
					CH4H2 = '-'
					C2H4C2H6 = '-'
				}
				this.diagnosis = {
					info: {
						heading: 'Ratios according to Basic Gas Ratios (IEC 60599)',
						diagnosis: this.basicRatios_diagnosis,
						ratios: [
							{
								key: 'C2H2 / C2H4',
								value: C2H2C2H4
							},
							{
								key: 'CH4 / H2',
								value: CH4H2
							},
							{
								key: 'C2H4 / C2H6',
								value: C2H4C2H6
							}
						]
					}
				}
			},

			show_all: function () {
				this.diagnosis
			}
		},
		methods: {
			resetFields: function () {
				let initialData = initialState()
				for (let prop in initialData) {
					this[prop] = initialData[prop]
				}
			},
			diagnose_rogers: function () {
				if (this.R2 < 0.1 && this.R1 > 0.1 && this.R1 < 1.0 && this.R5 < 1.0) {
					return 'Unit normal'
				} else if (this.R2 < 0.1 && this.R1 < 0.1 && this.R5 < 1.0) {
					return 'Low-energy density arcing--PD<sup>a</sup>'
				} else if (this.R2 >= 0.1 && this.R2 <= 3.0 && this.R1 >= 0.1 && this.R1 <= 1.0 && this.R5 > 3.0) {
					return 'Arcing--High-energy discharge'
				} else if (this.R2 < 0.1 && this.R1 > 0.1 && this.R1 < 1.0 && this.R5 >= 1.0 && this.R5 <= 3.0) {
					return 'Low temperature thermal'
				} else if (this.R2 < 0.1 && this.R1 > 1.0 && this.R5 >= 1.0 && this.R5 <= 3.0) {
					return 'Thermal < 700°C'
				} else if (this.R2 < 0.1 && this.R1 > 1.0 && this.R5 > 3.0) {
					return 'Thermal > 700°C'
				} else {
					return 'No clear diagnosis possible.'
				}
			},

			diagnose_doernenburg: function () {
				if (this.R1 > 1.0 && this.R2 < 0.75 && this.R3 < 0.3 && this.R4 > 0.4) {
					return 'Thermal decomposition'
				} else if (this.R1 < 0.1 && this.R3 < 0.3 && this.R4 > 0.4) {
					return 'Partial discharge (low-intensity PD)'
				} else if (this.R1 > 0.1 && this.R1 < 1.0 && this.R2 > 0.75 && this.R3 > 0.3 && this.R4 < 0.4) {
					return 'Arcing (high-intensity PD)'
				} else {
					return 'No clear diagnosis possible'
				}
			},
			diagnose_basicgases: function () {
				if (this.R1 <= 0.1 && this.R5 <= 0.2) {
					return 'PD: Partial discharges'
				} else if (this.R2 >= 1 && this.R1 >= 0.1 && this.R1 <= 0.5 && this.R5 >= 1) {
					return 'D1: Discharges of low energy'
				} else if (this.R2 >= 0.6 && this.R2 < 2.5 && this.R1 >= 0.1 && this.R1 < 1 && this.R5 >= 2) {
					return 'D2: Discharges of high energy'
				} else if (this.R5 < 1) {
					return 'T1: Thermal fault, T < 300°C'
				} else if (this.R2 <= 0.1 && this.R1 >= 1 && this.R5 >= 1 && this.R5 < 4) {
					return 'T2: Thermal fault, 300°C<T<700°C'
				} else if (this.R2 <= 0.2 && this.R1 >= 1 && this.R5 >= 1 && this.R5 >= 4) {
					return 'T3: Thermal fault, T > 700°C'
				} else {
					return 'No clear fault diagnosis possible'
				}
			},
			diagnose_CO2CO: function () {
				if (this.co2co <= 3 && this.co2co > 0) {
					return 'Recommended to perform a Furan-Analysis or measurement of polymerization with paper samples if possible'
				} else if (this.co2co > 3) {
					return 'No system fault is implied.'
				} else {
					return 'No clear diagnosis possible'
				}
			}
		},
		watch: {
			selected: function (selectedval) {
				console.log(selectedval)
				switch (selectedval) {
					case 'Rogers' :
						this.rogers_diagnosis = this.diagnose_rogers()
						this.show = true
						// Bring in the computed property. So that the ratio
						this.show_rogers
						break
					case 'Doernenburg' :
						this.doernenburg_diagnosis = this.diagnose_doernenburg()
						this.show = true
						this.show_doernenburg
						break
					case 'BasicRatios' :
						this.basicRatios_diagnosis = this.diagnose_basicgases()
						this.show = true
						this.show_basicratios
						break
					case 'CO2CO' :
						this.CO2CO_diagnosis = this.diagnose_CO2CO()
						this.show = true
						break
					case 'all' :
						this.rogers_diagnosis = this.diagnose_rogers()
						this.doernenburg_diagnosis = this.diagnose_doernenburg()
						this.basicRatios_diagnosis = this.diagnose_basicgases()
						this.CO2CO_diagnosis = this.diagnose_CO2CO()
						this.show_all
						this.show = true
						break
				}
			}
		}
	}
</script>

<style scoped>
h3{
	font-size: 18px !important;
	font-weight: bold;
}
	legend{
		text-transform: uppercase;
		font-size: 25px;
		font-weight: bolder;
		margin-bottom: 20px;
		margin-top: 10px;
		color: #fff;
		text-align: center;
		border-bottom:1px solid #EC6B56;


	}
	.form-group + .form-group{
		margin-top: 10px;
	}

	.columned{
		display: flex;
		justify-content: center;
	}


	select{
		margin-top: 20px;
	}
	form {
		margin: auto;
	}
	label{
		width: 170px;
		padding-left: 5px;
	}
	input{
		color: black;
		border-radius: 5px;
		padding-left: 5px;
		width: 100%;

	}

.reset-flex{
	display: flex;
	justify-content: center;
	margin-top: 5%;
}
select{
	height: 30px;
	background-color:#50587C;
	margin: 0;
	border: 0;
	padding: 0 2%;
	border-radius: 5px;
}
button{
	height: 30px;
	margin-left:10px;
	border: 0;
	background-color:#50587C;
	padding: 0 5%;
	border-radius: 5px;
}
button:focus{
	outline: none;
}
select:focus{
	outline: none;
}
.dga-width{
	max-width: 500px;
	margin: auto;
}
.form-group{
	padding: 0 10px;
}
.dga-results{
	background-color: #50587C;
	margin: 20px;
	padding: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}
td{
	padding: 15px;

}
tr:nth-child(odd) {
    background-color: #393939;
}
tr:nth-child(even) {
    background-color:#2E2F40;
}
.table{
	background-color: #FFFFFF;
}

</style>
