<template>
  <div class="login-page">
    <img src="../assets/lines.png" alt="GridLines" class="grid-lines" width="350">
    <img src="../assets/trafixlogo.png" width="300" alt="">
    <p v-if="$route.query.redirect">
      You need to login first.
    </p>
   
   <div class="padded-width">
      <form @submit.prevent="login">
      <label><input v-model="email" class="border-b" placeholder="email"></label>
      <label><input v-model="pass" class="border-b"  @keyup.enter="login" placeholder="password" type="password"></label> 
      <button type="submit" class="btn btn-sm btn-info">login</button>
      <p v-if="error" class="error">Bad login information</p>
    </form>
   </div>

    <router-link to="/about">Read the about section</router-link>
  </div>
</template>

<script>
import auth from '../auth'
// import router from '../main.js'
// if (auth.loggedIn()) {
//   router.push('dashboard')
// }

export default {
  data () {
    return {
      email: 'joe@example.com',
      pass: '',
      error: false
      // redirectFlag: $route.query.redirect
    }
  },
  created () {
    // if the user is logged in redirect to the dashboard
    if (!auth.loggedIn()) {
      this.$router.push('/dashboard')
    }
  },
  methods: {
    login () {
      auth.login(this.email, this.pass, loggedIn => {
        if (!loggedIn) {
          this.error = true
          this.pass = ''
        } else {
          this.$router.replace(this.$route.query.redirect || '/')
        }
      })
    }
  }
}
</script>

<style scoped>

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.grid-lines{
  position: absolute;
  bottom: 0;
}

.login-page{
  min-height: 100vh;
  margin-top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  position: relative;
}
  
img{
  margin-bottom: 10px;
}

.padded-width{
  width: 350px;
}

form{
  width: 100%;
  display: flex;
  flex-flow: column;
  color: #faf9fa;

}

input{
  width: 100%;
  padding: 15px;
  font-size: 19px;
  background-color: transparent;
  outline: 0;
  border: none;
  font-weight: 300;

}

.border-b{
  border-bottom: .5px solid #fff;
  color: #faf9fa;

}

.btn{
  padding: 10px;
  border-radius: 30px;
  background: #50577d;
  outline: none;
  border: none;
  text-transform: uppercase;
  margin-top: 20px;
}

p{
  color: red;
}

.error {
  color: red;
}

input {
  color: #000;

}

a{
  margin-top: 20px;
}
a:hover{
  text-decoration: none;
}
</style>