<template>
<div class="user-profile-page">
  <div class="log-in-bg">
        <div class="user-profile-section">
          <div class="trafix-top-div">
            <h2>user profile</h2>
          </div>
          <div class="profile-user-icon-div">
            <div class="profile-user-icon-border">
              <i class="fa fa-user center-icon" aria-hidden="true"></i>
            </div>
          </div>
          <div class="user-name-div">
            <div class="users-name-divpara">
              <i class="fa fa-user john-icon" aria-hidden="true"></i>
              <p>Joseph John</p>
            </div>
            <div class="users-name-divpara">
              <i class="fa fa-phone john-icon" aria-hidden="true"></i>
              <p>9855652452</p>
            </div>
            <div class="users-name-divpara">
              <i class="fa fa-envelope-o john-icon" aria-hidden="true" ></i>
              <p>joseph@ets.tech</p>
            </div>
          </div>
        <div class="profile-button-div">
          <button type="button" name="button" class="profile-button">edit profle</button>
          <button type="button" name="button" class="profile-button">save</button>
        </div>
        </div>
      </div>

  </div>
</div>
</template>

<style scoped>
.log-in-bg{
  background-color: #2E2F41;
}
.user-profile-page{
  margin: auto;
  width: 450px;
}

.user-profile-section{
  /*padding-bottom: 44%;*/
}
.profile-user-icon-div{
  display: flex;
  justify-content: center;
}
.profile-user-icon-border{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0;

}
.users-name-divpara{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: 1px solid #FF6156;
  padding-bottom: 1%;
  margin-bottom: 3%;
}
.john-icon{
  color: #FFFFFF;
  font-size: 30px;
}
p{
  margin: 0;
  margin-left: 8%;
  color: #FFFFFF;
}
.profile-button-div{
  display: flex;
  justify-content: center;
  margin-top: 15%;

}
.profile-button{
  width: 250px;
  margin: 7px;
  padding: 1.5% 1%;
  font-size: 20px;
  border: 0;
  background-color: #50587C;
  border-radius: 10px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 18%;
}
.user-name-div{
  padding: 0 5%;
}
.center-icon{
  font-size: 80px;
}
.trafix-top-div{
  padding: 2%;
  background-color: #06AAA9;
  display: flex;

}


h2{
  margin: 0 auto;
  text-transform: uppercase;
  color:#FFFFFF;
  text-align: center;

  line-height: 1.7em;
}

</style>
