<template>
	<div class="header-nav">
		<h1>{{headertext}}</h1>
		<router-link to="/dashboard">
			<button type="button" name="button">Back</button>
		</router-link>
	</div>
</template>

<script>
	export default {
		name: 'topnav',
		props: ['headertext']
	}
</script>

<style>
	.header-nav{
		background: #06AAA9;
		padding: 15px;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		width: 100%;
	}
	h1{
		margin: 0;
		padding-right: 30px;
	}
	button{
		background-color: #50587C;
		border: 0;
		border-radius: 10px;
		padding: 8px 27px;
	}
	button:focus{
		outline: none;
	}
	button:hover{
		color: #FFFFFF;
	}

</style>
