<template>
	<div class="assets-list">
		<h2>List of Assets :</h2>
		<router-link to="/dashboard">Go Back</router-link>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Asset Name</th>
				<th>Location</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="asset in assets">
				<td>{{asset.id}}</td>
				<td>{{asset.name}}</td>
				<td>{{asset.location}}</td>
				<td><button class="btn btn-xs btn-info">Something</button></td>
			</tr>
		</tbody>
	</table>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				assets: [
				{
					id: 1,
					name: 'Something cool',
					location: 'Hawally',
					critical: 0
				},
				{
					id: 2,
					name: 'Another something cool',
					location: 'Hawally',
					critical: 1
				},
				{
					id: 3,
					name: 'Something super cool',
					location: 'Hawally',
					critical: 0
				}
				]
			}
		}
	}
</script>
