<template>
	<div class="trouble-ticket">
	<topnav headertext="Trouble Ticket"></topnav>
	<alertbar v-show="success"></alertbar>
	
		<h1>Send your queries here.</h1>
		<form @submit.prevent="sendQuery">
		<input type="text" v-model="subject" placeholder="Subject">
		<textarea v-model="trouble" id="" cols="30" rows="10" placeholder="Enter your query here..."></textarea>
		<button type="submit" class="btn btn-success">Send trouble</button>

	</form>
	</div>
</template>

<script>
import topnav from './topnav'
import alertbar from './alertbar'
	export default {
		name: 'troubleticket',
		data () {
			return {
				trouble: '',
				subject: '',
				success: false
			}
		},
		components: {
			topnav,
			alertbar
		},
		methods: {
			sendQuery () {
				console.log(this.trouble + '  ' + this.trouble)
				// reset the fields
				this.trouble = ''
				this.subject = ''
				this.success = true
			}
		}
	}
</script>

<style>
	textarea {
		color: #000;
	}
</style>
